<h2>Ajouter une place de parking</h2>

<form (ngSubmit)="AjouterPlace(1)" #placeForm="ngForm">

  <div>
    <label for="dispo">Disponible:</label>
    <input type="checkbox" id="dispo" name="dispo" [(ngModel)]="place.Dispo">
  </div>
  <div>
    <label for="position">Position:</label>
    <input type="text" id="position" name="position" required [(ngModel)]="place.position">
  </div>
  <div>
    <label for="prix">Prix:</label>
    <input type="number" id="prix" name="prix" required [(ngModel)]="place.prix">
  </div>
  <button type="submit" [disabled]="!placeForm.valid">Ajouter la place</button>
</form>