<div class="col-md-6 offset-md-3">
  <h3>Create User</h3>
  <form (ngSubmit)="onSubmit()" style="margin-bottom: 20px;">
    <div class="form-group">
      <div style="margin: 10px 0;">
        <label for="login">Login:</label>
      </div>
      <input type="text" class="form-control" id="login" [(ngModel)]="user.login" name="login" required>
    </div>

    <div class="form-group">
      <div style="margin: 10px 0;">
        <label for="pwd">Password:</label>
      </div>
      <input type="password" class="form-control" id="pwd" [(ngModel)]="user.pwd" name="pwd" required>
    </div>

    <div class="form-group">
      <div style="margin: 10px 0;">
        <label for="userName">User Name:</label>
      </div>
      <input type="text" class="form-control" id="userName" [(ngModel)]="user.userName" name="userName" required>
    </div>

    <div class="form-group">
      <div style="margin: 10px 0;">
        <label for="role">Role:</label>
      </div>
      <select class="form-control" id="role" [(ngModel)]="user.role.id" name="role" required>
        <option *ngFor="let role of roles" [value]="role.id">{{ role.titre }}</option>
      </select>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>

    <div style="display: flex; justify-content: center; margin-top: 80px;">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>
