/* Override default dialog styles */
:host {
    display: block;
    padding: 20px;
    text-align: center;
  }
  
  /* Customize dialog content container */
  .mat-dialog-container {
    max-width: 400px; /* Adjust this value to change the dialog width */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  
  /* Add any additional styles you want */
  